    <extend name="Base/common"/>
    <block name="body">

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-pencil page-title-icon"></i>
                        <h2>多木设计 </h2>
                        <p>打造你专属的个性空间</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us container">
            <div class="row">

                  <div class="span5">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="__DORM__/img/life/mxpj/1.jpg">
                                    <img src="__DORM__/img/life/mxpj/1.jpg">
                                    <!-- <p class="flex-caption">你是运动达人？没有一刻能让自己静止？<br>你应该拥有充满活力的寝室！</p> -->
                                </li>
                                <li data-thumb="__DORM__/img/life/mxpj/2.jpg">
                                    <img src="__DORM__/img/life/mxpj/2.jpg">
                                    <!-- <p class="flex-caption">谁说喜欢动漫的人都是宅基腐？<br>热爱动漫，打造专属的二次元世界！</p> -->
                                </li>
                                <li data-thumb="__DORM__/img/life/mxpj/3.jpg">
                                    <img src="__DORM__/img/life/mxpj/3.jpg">
                                    <!-- <p class="flex-caption">摇滚，民谣，or HIPOP？<br> 作为音乐发烧友，你的寝室没有理由不跃动！</p> -->
                                </li>
                                <li data-thumb="__DORM__/img/life/mxpj/4.jpg">
                                    <img src="__DORM__/img/life/mxpj/4.jpg">
                                    <!-- <p class="flex-caption">总是掌握一手的影视消息？<br> 把氛围搞起来，寝室也能成为你的贴身影院！</p> -->
                                </li>
                            </ul>
                        </div>
                            <h4>明信片夹</h4>
                            <p>满满动漫风，让你的小窝既温馨又有美感。<br>它是你的依赖，时时刻刻，舒适无处不在！<br><span class="violet price" ><strong>￥4.00/包</strong></span></p>

                    </div>

                <div class="contact-form span7">
                    <h4>先读读下面这段话</h4>
                    <p>下单时请认真填写以下信息，确保信息的真实和准确性。<br>请详细说明你的要求和想法，我们将竭尽所能为你实现~<br>如果有疑问或建议，请联系官方微博或微信，我们将第一时间听取你的声音。<br><span class="violet">快快填写订单让寝室靓起来吧O(∩_∩)O</span></p>
                    <!-- 联系我们表单提交页面 -->
                    <include file="Index/contact_form"/>
                    <!-- /联系我们表单提交页面 -->
                </div>
                
            </div>
        </div>
</block>