<extend name="Base/common"/>
<block name="body">
        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-pencil page-title-icon"></i>
                        <h2>多木设计 </h2>
                        <p>打造你专属的个性空间</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us container">
            <div class="row">
                <div class="contact-address span5">
                    <div class="map"><img src="__DORM__/img/portfolio/diy.jpg"></div>
                    <p></p>
                    <p></p>
                </div>
                <div class="contact-form span7">
                    <h4>个性定制</h4>
                    <p>有很多异想天开、特立独行的想法？<br>我们来帮你实现！</p>
                    <!-- 联系我们表单提交页面 -->
                    <include file="Index/contact_form"/>
                    <!-- /联系我们表单提交页面 -->

                </div>
            </div>
        </div>
</block>