<extend name="Base/common"/>
<block name="body">
        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-pencil page-title-icon"></i>
                        <h2>多木优品 </h2>
                        <p>提高寝室生活品质，这里应有尽有</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us container">
            <div class="row">
                <div class="contact-address span5">
                    <div class="map"><img src="__DORM__/img/portfolio/sport.jpg"></div>
                    <p></p>
                    <p></p>
                </div>
                <div class="contact-form span7">
                    <h4>运动</h4>
                    <p>你是运动达人？没有一刻能让自己静止？<br>你应该拥有充满活力的寝室！</p>
                    <!-- 联系我们表单提交页面 -->
                    <include file="Index/contact_form"/>
                    <!-- /联系我们表单提交页面 -->

                </div>
                
            </div>
        </div>
</block>