<form method="post" action="{:U('Index/contact')}">
    <label for="name" class="nameLabel">姓名</label>
    <input id="name" type="text" name="name" placeholder="务必填写真实姓名(～￣▽￣)～">
    <label for="address" class="emailLabel">寝室地址</label>
    <input id="address" type="text" name="address" placeholder="如：虎溪校区梅园五栋603">
    <label for="phone">联系方式</label>
    <input id="phone" type="text" name="phone" placeholder="QQ、电话等等联系方式~">
    <label for="message" class="messageLabel">给我们的留言</label>
    <textarea id="message" name="message" placeholder="请务必填明您要的款式和数量~Or 客服人员将主动联系您~
下单后24小时内送货到寝室哟~
有什么要求尽管告诉我们吧~⁄(⁄ ⁄•⁄ω⁄•⁄ ⁄)⁄ "></textarea>
    <button type="submit">提交</button>
</form>