<extend name="Base/common"/>
<block name="body">

<!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-tasks page-title-icon"></i>
                        <h2>多木优品 </h2>
                        <p>提高寝室生活品质，这里应有尽有</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio -->
        

        <div class="portfolio portfolio-page container">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#bulletin" role="tab" data-toggle="tab">生活创品</a></li>
            <li><a href="#rule" role="tab" data-toggle="tab">寝室神器</a></li>
            <!-- <li><a href="#forum" role="tab" data-toggle="tab">装饰美化</a></li> -->
        </ul>
        <!-- 选项卡面板 -->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="bulletin">
                <div class="row">
                 <ul class="portfolio-img">
                        <li data-id="p-1" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{:U('Index/buy_nphb')}" rel="prettyPhoto">
                                <img src="__DORM__/img/life/niupi/banner.jpg">
                                </a>
                                <h4>牛皮海报</h4>
                                <p>亮白的墙壁太单调？碎花的墙纸太normal？<br>试试牛皮海报吧，随意搭配，秀出自我！</p>
                            </div>
                        </li>
                        <li data-id="p-2" data-type="logo-design" class="span3">
                            <div class="work">
                                <a href="{:U('Index/buy_dmbz')}" rel="prettyPhoto">
                                <img src="__DORM__/img/life/baozhen/banner.jpg">
                                </a>
                                <h4>动漫抱枕</h4>
                                <p>满满动漫风，让你的小窝既温馨又有美感。<br>它是你的依赖，时时刻刻，舒适无处不在！</p>
                            </div>
                        </li>
                        <li data-id="p-2" data-type="logo-design" class="span3">
                            <div class="work">
                                <a href="{:U('Index/buy_snzs')}" rel="prettyPhoto">
                                <img src="__DORM__/img/life/shouna/banner.jpg">
                                </a>
                                <h4>收纳助手</h4>
                                <p>嫌宿舍空间太小，小东西太多？有了它，so easy!<br>简易轻便，美观实用，居家日用好帮手。</p>
                            </div>
                        </li>
                        <li data-id="p-2" data-type="logo-design" class="span3">
                            <div class="work">
                                <a href="{:U('Index/buy_zmzwj')}" rel="prettyPhoto">
                                <img src="__DORM__/img/life/zwj/banner.jpg">
                                </a>
                                <h4>桌面置物架</h4>
                                <p>桌面太乱肿么办？分分钟帮你解决。<br>简单大方，让你的物品有序安放!</p>
                            </div>
                        </li>
                        <li data-id="p-2" data-type="logo-design" class="span3">
                            <div class="work">
                                <a href="{:U('Index/buy_mxpj')}" rel="prettyPhoto">
                                <img src="__DORM__/img/life/mxpj/banner.jpg">
                                </a>
                                <h4>明信片夹</h4>
                                <p>桌面太乱肿么办？分分钟帮你解决。<br>简单大方，让你的物品有序安放!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="rule"><div class="row">
                    <ul class="portfolio-img">
                        <li data-id="p-1" data-type="web-design" class="span3">
                            <div class="work">
                                <a href="{:U('Index/buy_kmsq')}" rel="prettyPhoto">
                                <img src="__DORM__/img/goods/goods1.jpg">
                                </a>
                                <h4>开门神器</h4>
                                <p>还在为不停地下床开寝室门而苦不堪言么?<br>开门神器，远程开门，一并解决你的烦恼！</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
<!--             <div class="tab-pane" id="forum">论坛内容面板</div>
            <div class="tab-pane" id="security">安全内容面板</div>
            <div class="tab-pane" id="welfare">公益内容面板</div> -->
        </div>
            
        </div>

  </block>