<extend name="Base/common"/>
<block name="body">
    <!-- Slider -->
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="__DORM__/img/banner/1.jpg">
                                <img src="__DORM__/img/banner/1.jpg">
                                <!-- <p class="flex-caption">热爱在阳光下挥洒汗水的你，是否也希望自己的寝室也充满活力。奔跑跳跃，休憩之中，感受运动乐趣！</p> -->
                            </li>
                            <li data-thumb="__DORM__/img/slider/2.jpg">
                                <img src="__DORM__/img/slider/2.jpg">
                                <p class="flex-caption">还在二次元里做着安安静静的宅基腐吗？不想跨过次元障壁来次亲密接触吗？多木让你的本命出现在床头桌边，触手可及！</p>
                            </li>
                            <li data-thumb="__DORM__/img/slider/3.jpg">
                                <img src="__DORM__/img/slider/3.jpg">
                                <p class="flex-caption">跃动的节奏，跃动的音符。无论你喜欢摇滚民谣流行古典还是普通disco，把寝室交给多木，我们为你打造专属的音乐空间。</p>
                            </li>
                            <li data-thumb="__DORM__/img/slider/4.jpg">
                                <img src="__DORM__/img/slider/4.jpg">
                                <p class="flex-caption">想要在寝室拥有美好的观影体验？想要动态的画面在你周围凝固成静态的美感？多木，为你编织舒适的光影。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Site Description -->
    <div class="presentation container">
        <h2>我们是 <span class="violet">多木创艺</span>, 加入我们开启你的大学寝室新生活！</h2>
        <p>All we design and create is for your new conception of college <span class="violet">dormitory life</span>.</p>
    </div>

    <!-- Services -->
    <div class="what-we-do container">
        <div class="row">
            <div class="service span3 first">
                <div class="icon-awesome">
                    <i class="icon-magic"></i>
                </div>
                <h4>个性化空间打造</h4>
                <p>还在为如何装扮你的寝室而发愁？<br>想让你的寝室打上你的烙印？<br>猛戳这里，开始打造你的专属空间。</p>
                <a href="{:U('Index/design')}">猛戳了解</a>
            </div>
            <div class="service span3 second">
                <div class="icon-awesome">
                    <i class="icon-camera"></i>
                </div>
                <h4>寝室视觉文化设计</h4>
                <p>想拥有专属自己寝室的LOGO？<br>或者一套和室友们满载青春与回忆的相册？<br>这些，我们都能帮你完成。</p>
                <a href="{:U('Index/vision')}">猛戳了解</a>
            </div>
            <div class="service span3 third">
                <div class="icon-awesome">
                    <i class="icon-gift"></i>
                </div>
                <h4>最新最酷炫的寝室神器</h4>
                <p>如何将自己的生活变得便利而不失逼格？<br>高科技、小设计。<br>生活本应如此睿智。</p>
                <a href="{:U('Index/goods')}">猛戳了解</a>
            </div>
            <div class="service span3 fourth">
                <div class="icon-awesome">
                    <i class="icon-bullhorn"></i>
                </div>
                <h4>了解和加入我们</h4>
                <p>我们是一个年轻的团队。<br>年轻的团队就需要年轻的idea。<br>在这里施展才能，和我们一起飞！</p>
                <a href="{:U('Index/about')}">猛戳了解</a>
            </div>
        </div>
    </div>

    <!-- Latest Work -->
    <div class="portfolio container">
        <div class="portfolio-title">
            <h3>我们的作品</h3>
        </div>
        <div class="row">
            <div class="work span3">
                <img src="__DORM__/img/portfolio/work1.jpg" alt="">
                <h4>运动</h4>
                <p>热爱在阳光下挥洒汗水的你，是否也希望自己的寝室也充满活力？<br>奔跑跳跃，休憩之中，感受运动乐趣！</p>
                <div class="icon-awesome">
                    <a href="{:U('Index/buy_yd')}" rel="prettyPhoto"><i class="icon-search"></i></a>

                </div>
            </div>
            <div class="work span3">
                <img src="__DORM__/img/portfolio/work2.jpg" alt="">
                <h4>动漫</h4>
                <p>还在二次元的世界做着安安静静的宅基腐吗？不想跨过次元障壁来次亲密接触吗？<br>多木让你的本命出现在床头桌边，触手可及！</p>
                <div class="icon-awesome">
                    <a href="{:U('Index/buy_dm')}" rel="prettyPhoto"><i class="icon-search"></i></a>

                </div>
            </div>
            <div class="work span3">
                <img src="__DORM__/img/portfolio/work3.jpg" alt="">
                <h4>音乐</h4>
                <p>跃动的节奏，跃动的音符。无论你喜欢摇滚民谣流行古典还是普通disco，<br> 把寝室交给多木，我们为你打造专属的音乐空间。</p>
                <div class="icon-awesome">
                    <a href="{:U('Index/buy_yy')}" rel="prettyPhoto"><i class="icon-search"></i></a>

                </div>
            </div>
            <div class="work span3">
                <img src="__DORM__/img/portfolio/work4.jpg" alt="">
                <h4>影视</h4>
                <p>想要在寝室拥有美好的观影体验？<br> 想要动态的画面在你周围凝固成静态的美感？多木，为你编织舒适的光影。</p>
                <div class="icon-awesome">
                    <a href="{:U('Index/buy_ys')}" rel="prettyPhoto"><i class="icon-search"></i></a>

                </div>
            </div>
        </div>
    </div>
    <!-- Testimonials -->
</block>