<extend name="Base/common"/>
<block name="body">

<!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>我 </h2>
                        <p>我的多木足迹</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio -->
        <div class="user portfolio portfolio-page container">
            <div class="userinfo">
            <img src="__DORM__/img/user/userpic1.jpg" id="userpic">
            <h4 class="userid">谢延敏</h4><span class="icon-user"></span>
            <p class="userlast">已入驻多木<span class="violet">365</span>天</p>
            <a href="#"><i class="icon-pencil"></i>  编辑资料</a>
            </div>
        </div>



        

        <div class="portfolio portfolio-page container">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#bulletin" role="tab" data-toggle="tab">我的订单</a></li>
            <li><a href="#rule" role="tab" data-toggle="tab">已完成的订单</a></li>
            <li><a href="#forum" role="tab" data-toggle="tab">我的评价</a></li>
        </ul>
        <!-- 选项卡面板 -->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="bulletin"><div class="row">
                <ul class="portfolio-img">
                    <li data-id="p-1" data-type="web-design" class="span3">
                        <div class="work">
                            <a href="design1.html" rel="prettyPhoto">
                                <img src="__DORM__/img/portfolio/work1.jpg" alt="">
                            </a>
                            <h4>运动</h4>
                            <p>你是运动达人？没有一刻能让自己静止？<br>你应该拥有充满活力的寝室！</p>
                        </div>
                    </li>
                    <li data-id="p-2" data-type="logo-design" class="span3">
                        <div class="work">
                            <a href="__DORM__/img/portfolio/work2.jpg" rel="prettyPhoto">
                                <img src="__DORM__/img/portfolio/work2.jpg" alt="">
                            </a>
                            <h4>动漫</h4>
                            <p>谁说喜欢动漫的人都是宅基腐？<br>热爱动漫，打造专属的二次元世界！</p>
                        </div>
                    </li>
                    <li data-id="p-3" data-type="print-design" class="span3">
                        <div class="work">
                            <a href="__DORM__/img/portfolio/work3.jpg" rel="prettyPhoto">
                                <img src="__DORM__/img/portfolio/work3.jpg" alt="">
                            </a>
                            <h4>音乐</h4>
                            <p>摇滚，民谣，or HIPOP？<br>作为音乐发烧友，你的寝室没有理由不跃动！</p>
                        </div>
                    </li>
                    <li data-id="p-4" data-type="web-design" class="span3">
                        <div class="work">
                            <a href="__DORM__/img/portfolio/work4.jpg" rel="prettyPhoto">
                                <img src="__DORM__/img/portfolio/work4.jpg" alt="">
                            </a>
                            <h4>影视</h4>
                            <p>总是掌握一手的影视消息？<br>只有氛围搞起来，寝室也可以成为你的贴身影院！</p>
                        </div>
                    </li>
                    
                </ul>
            </div></div>
            <div class="tab-pane" id="rule">规则内容面板</div>
            <div class="tab-pane" id="forum">论坛内容面板</div>
            <div class="tab-pane" id="security">安全内容面板</div>
            <div class="tab-pane" id="welfare">公益内容面板</div>
        </div>
            
        </div>
</block>